/* CSS Geral */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #A93895;
}

.game-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
}

/* Impede o comportamento padrão de ampliar a imagem ao ser clicada no celular */
img {
  touch-action: manipulation;
}

/* Impede a seleção de texto e a seleção de imagem nas imagens do jogo */
.game-container img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

#game-image {
  max-width: 100%;
  height: auto;
}
